*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aliceblue;
  box-shadow: 20px 0  20px black;

}
header ul a{ 
  margin-right: 50px;
  text-decoration: none;
  color: black;
}
.span{
  position: absolute;
  top:20px;
  right: 40px;
  border-radius: 50%;
  background-color: darkblue;
  color: white;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
    
}

.cart-container {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

.cart-items {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cart-card {
  position: relative;
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  display: flex;
  align-items: flex-start;
  gap: 20px;
  height: 250px;
  width: 100%;
  box-shadow: 0 0 10px rgba(24, 13, 108, 0.05);
}

.cart-card img {
  width: 200px;
  height: 180px;
}

.remove-icon {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 20px;
  color: black;
  cursor: pointer;
}

.cart-details {
  flex: 1;
  margin-top: 40px;
}

.cart-details h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.cart-details p {
  font-size: 16px;
  color: #555;
  margin-top: 50px;
}

.cart-details span {
  font-weight: bold;
  color: #002366;
}

.quantity-btns {
  position: absolute;
  bottom: 15px;
  right: 20px;
  display: flex;
  gap: 10px;
}

.quantity-btns button {
  padding: 6px 12px;
  border: 1px solid #ddd;
  background: white;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.cart-summary {
  flex: 1;
  background: white;
  padding: 20px;
  border-radius: 10px;
  min-width: 220px;
  height: 160px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

.cart-summary h4 {
  margin-bottom: 10px;
  color: #002366;
}

.cart-summary hr {
  margin-bottom: 10px;
  border-color: #ccc;
}

.cart-summary p {
  font-size: 16px;
  color: #444;
}

.cart-summary h3 {
  color: #002366;
  margin-top: 5px;
}
.quantity-btns button:hover {
  background-color: #002366;
  color: white;
}
footer {
      background: #002855;
      color: #fff;
      padding: 3rem 2rem;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }

    footer div {
      margin-bottom: 1rem;
    }

    footer h4 {
      margin-bottom: 0.5rem;
    }

    footer a {
      display: block;
      color: #ccc;
      margin-top: 0.3rem;
      text-decoration: none;
    }

    footer p {
      color: #ccc;
      max-width: 200px;
    }
 @media screen and (max-width: 992px) {
      .products {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    @media screen and (max-width: 600px) {
      .products {
        grid-template-columns: 1fr;
      }

      .filters {
        flex-direction: column;
      }

      .filters input {
        max-width: 100%;
      }
    }
